@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body {
  background: khaki; 
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
}

.App-header {
  text-align: center;
  padding: 20px;
}

.search {
  width: 100%;
  max-width: 600px;
  margin: 20px auto;
  display: flex;
}

.searchTerm {
  width: 100%;
  border: 3px solid #00B4CC;
  border-right: none;
  padding: 5px;
  height: 36px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: black;
}

.searchTerm:focus {
  color: #00B4CC;
}

.searchButton {
  width: 60px;
  height: px;
  border: 1px solid #00B4CC;
  background: #00B4CC;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 15px;
}

.results {
  text-align: center;
  color: #ecf0f1; 
}